# Copyright (c) 2023 Google LLC
# SPDX-License-Identifier: Apache-2.0

# West directory
.west/

# IDE specific
.cache/
.idea/
.pw_ide/
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

# Checked out by West
bootloader/
modules/
tools/

# Build artifacts
build*/
out/
twister-out*/

# Environment
environment/
